@charset "UTF-8";

ol, ul {
    list-style: none;
    padding-left: 0px;
}
a, a:visited, a:hover {
	text-decoration: none;
}

.contentBox {
	/*가운데 정렬 세가지*/
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 0;
	padding: 60px 20px 0;
	box-sizing: content-box;
	position: relative;
	background-color: #fafafa;
}

.accountBox {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	margin: 60px auto 0;
	max-width: 935px;
	height: 580px;
	width: 100%;
	overflow: hidden;
	
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    
    /*가운데 정렬 세가지*/
	display: flex;
	justify-content: center;
	
}

.accountMenu {
	border-right: 1px solid #dbdbdb;
	flex-basis: 236px;
	flex-grow: 0;
	flex-shrink: 0;
}

.Menu,
.eachMenu:active,
.eachMenu:hover,
.eachMenu:visited {
	color: #262626;
}

.eachMenu {
	border-left: 2px solid transparent;
    display: block;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    padding: 16px 16px 16px 30px;
    width: 100%;
}

.selectMenu {
	border-left-color: #262626;
	font-weight: 600;
}

.hoverMenu:hover {
	background-color:#fafafa;
	border-left-color:#dbdbdb;
}

.accountArticle {
	flex: 1 1 400px;
	min-width: 50px;
	
}

.profileForm {
	margin: 32px 0 25px;
	display: flex;
	align-items: center;
	
}

.profilePhoto {
	margin: 2px 32px 0 124px;
	height: 38px;
	width: 38px;
	background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.profilePhotoImg {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.profileId {
	-webkit-box-flex: 0;
    flex: 0 1 auto;
    margin-right: 20px;
    overflow-x: hidden;
}

.profileIdText {
	font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.profilePhotoChange,
.profilePhotoChange:visited {
	background: 0;
	
	border: 0;
    color: #3897f0;
    display: inline;
    padding: 0;
    position: relative;
}

.editForm {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	margin-bottom: 16px;
	margin-top: 16px;
}

.eachEdit {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
	justify-content: flex-start;
}

.eachEditText {
	padding-right: 32px;
    text-align: right;
    padding: 9px 32px;
    box-sizing: border-box;
    color: #262626;
    -webkit-box-flex: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    flex: 0 0 194px;
}

.eachEditForm {
	display: flex;
	flex-basis: 355px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding-right: 60px;
    color: #262626;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.eachEditInput {
	background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
	width: 90%;
    font-size: 14px;
    height: 38px;
    padding: 1px 15px;
}

.inputTextarea {
	height: 60px;
    padding: 6px 10px;
    resize: vertical;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 16px;
    width: 90%;
}

.emailChkBtn {
	border: 1px solid #3897f0;
	background-color: #3897f0;
	border-radius: 4px;
	color: #fff;
	position: relative;
	font-weight: 600;
	text-align: center;
    text-transform: inherit;
    font-size: 15px;
}

.error_next_box {
    display: inline;
    font-size: 12px;
    line-height: 1px;
    color: red;
    float: left;
}

.eachEditForm {
	display: block;
    position: relative;
    width: 100%;
    height: 51px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}