@charset "UTF-8";

ol, ul {
    list-style: none;
    padding-left: 0px;
}
a, a:visited, a:hover {
	text-decoration: none;
}

/* 전체 화면 css */
.content-box {
	/*가운데 정렬 세가지*/
	display: flex;
	justify-content: center;
	align-items: center;
	
	max-width:935px;
	padding-bottom: 44px;
	padding-top: 20px; /* login페이지랑 다름 */
	margin: 0 auto;
}

/* 회원가입 전체 박스 css */
.join-article {
	margin: 0 auto;
    max-width: 935px;
    width: 100%;
}
.join-box {
	color: #262626;
   justify-content: center;
   margin-top: 12px;
   max-width: 350px;
   width: 100%;
}

/* 공통 박스 : 가입받는 폼, 로그인 */
.common-box {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;
}

/* 인스타그램 로고 */
.logo-img {
	height: 51px;
	width: 175px;
	margin: 22px auto;
	/*가운데 정렬 세가지*/
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 상자 메인 부분 css */
.box-main {
	margin-bottom: 20px;
}

/* 소개 말 css */
.intro-text {
	font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin: 0 40px 10px;
    color: #999;
    text-align: center;
}

/* 카카오버튼 */
.kakao-btn {
	background: 0 0;
	border: 0;
	padding: 2px 0 0 0;
}

/* 가입하기 공통 버튼 */
.join-btn {
	margin: 8px 40px;
}
.join-btn-btn {
	border-radius: 4px;
   border: 1px solid #3897f0;
   color: #fff;
   position: relative;
   background-color: #3897f0;
   width: auto;
   text-align: center;
   font-weight: 600;
   padding: 5px 9px;
   display: block;
   width: 100%;
   font-size: 15px;
}


/* 또는 부분 css */
.or-bar-bax {
	display: flex;
	flex-direction: row;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: stretch;
    position: relative;
    margin: 8px 40px;
}
.bar {
	background-color: #efefef;
	height: 1px;
	width: 40%;
	position: relative;
	display: flex;
	top: .45em;
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
}
.or-text {
	color: #999;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-flex: 0;
	flex-grow: 0;
	flex-shrink: 0;
}

/* 회원가입 입력받는 폼 */
.join-form {
	margin: 20px 0;
}
.form-span {
	margin: 0 40px 6px;
	align-items: center;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #efefef;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	position: relative;
	height: 36px;
	line-height: 36px;
	background: #fafafa;
}
.input_box {
	font-size: 12px;
	border: 0;
	color: #999;
	padding: 9px 0 7px 8px;
	background: #fafafa;
}
.msg-box {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	flex-direction: row;
	height: 100%;
	padding-right: 8px;
	vertical-align: middle;
}

/* 로그인 박스 */
.external-enter {
	line-height: 18px;
	font-size: 14px;
	font-weight: 300;
	
	/*가운데 정렬 세가지*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.p-text {
	color: #262626;
	margin: 15px;
}
.p-text a,
.p-text a:active,
.p-text a:hover,
.p-text a:visited {
	color: #3897f0;
}


/* 앱 다운로드 css */
.app-box {
	 padding: 8px 0;
}
.app-text {
	color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px;
    text-align: center;
}
.app-download-img-box {
	padding: 0;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.app-down-load-img {
	display: inline-block;
}