@charset "UTF-8";

ol, ul {
    list-style: none;
    padding-left: 0px;
}
a, a:visited, a:hover {
	text-decoration: none;
}



.footer {
	padding: 0 20px;
}

.footer-box {
	text-align: center;
	font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
    padding: 38px 0;
}

.footer-content {
	display: inline-block;
    margin-bottom: 7px;
    margin-right: 16px;
}

.footer-content > a {
	color: #003569;
}

.footer-list > ul {
	display: inline;
	list-style-type: none;
}