@charset "UTF-8";



ol, ul {
    list-style: none;
    padding-left: 0px;
}
a, a:visited, a:hover {
	text-decoration: none;
}
button:hover {
	text-decoration: none;
}


.contentBox {
	padding: 120px 20px 0;
	box-sizing: content-box;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	max-width: 935px;
	margin: 0 auto 16px;
	
	/*가운데 정렬 세가지*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-article {
	background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    padding: 0;
}

.content-profile {
	border-left: 1px solid #efefef;
    height: 72px;
    padding: 16px;
    right: 0;
    width: 335px;
    border-bottom: 1px solid #efefef;
    align-items: center;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
}

.content-total {
	background-color: #fafafa;
	margin-right: 335px;
	min-height: 450px;
	justify-content: center;
}

.content-comment {
	border-left: 1px solid #efefef;
	top: 72px;
	padding: 0;
	bottom: 0;
	position: absolute;
	right: 0;
	width: 335px;
}