@charset "UTF-8";

ol, ul {
    list-style: none;
    padding-left: 0px;
}
a, a:visited, a:hover {
	text-decoration: none;
}



.contentBox {
	padding: 150px 20px 0;
	box-sizing: content-box;
	position: relative;
	display: flex;
	flex-direction: column;
}

.contentHeader {
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	padding: 0 150px;
	
	/*가운데 정렬 세가지*/
	justify-content: center;
	align-items: center;
}

.profileBox {
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profilePhoto {
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.profileButton {
	border: 0;
	cursor: pointer;
	padding: 0;
	height: 100%;
	width: 100%;
}

.profileImg {
	height: 100%;
	width: 100%;
	position: relative;
	vertical-align: middle;
	border-style: none;
}

.profileDetail {
	flex-basis: 30px;
	flex-grow: 2;
	flex-shrink: 1;
	min-width: 0;
	margin-left: 70px;
}

.profileId {
	margin-bottom: 20px;
	padding-left: 40px;
	display: flex;
	flex-direction: row;
}

.userId {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	margin: -5px 0 -6px;
	padding-top: 3px;
}

.profileEdit {
	margin-left: 20px;
	display: block;
}

.editBtn {
	background-color: transparent;
	border: 1px solid #dbdbdb;
	color: #262626;
	width: 100%;
	border-radius: 4px;
	position: relative;
	text-align: center;
	padding: 5px 9px;
	font-weight: 600;
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	text-transform: inherit;
    text-overflow: ellipsis;
}

.profileOption {
	min-height: 40px;
	min-width: 40px;
	background: 0 0;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-grow: 0;
	justify-content: center;
	padding: 0;
	align-items: center;
	margin-left: 5px;
}

.profileInfo {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding-left: 40px;
}

.infoTitle {
	color: black;
	background: 0 0;
	border: none;
	
}

.infoList {
	margin-left: 0;
	font-size: 16px;
	margin-right: 40px;
}

.infoCount {
	color: #262626;
	font-weight: 600;
}

.profileMsg {
	font-size: 16px;
	line-height: 24px;
	display: block;
	padding-left: 40px;
}

.conditionMsg {
	display: inline;
	font-weight: 600;
}


/* 팔로 버튼 */
.isFollow {
	flex: 0 0 auto;
	justify-content: flex-start;
	
}
.follow {
	display: flex;
	margin-left: 20px;
	flex: 1 0 auto;
	margin-right: 8px;
}
.followBtn {
	padding: 0 24px;
	background: #3897f0;
	border-color: #3897f0;
	color: #fff;
	-webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}



.contentMenu {
	border-top: 1px solid #efefef;
	align-items: center;
	color: #999;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-weight: 600;
	justify-content: center;
	letter-spacing: 1px;
	text-align: center;
}

.post-menu {
	color: #999;
	margin: 0 40px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	height: 55px;
	justify-content: center;
	align-items: center;
}

.select-menu {
	color: #262626;
	border-top: 1px solid #262626;
}


.uploadPhoto {
	margin-bottom: 28px;
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: stretch;
}

.onePhoto {
	display: block;
	position: relative;
	width: 100%;
	margin-right: 28px;
}


.imgdiv1 {
	background-color: #efefef;
    display: block;
    width: 100%;
}

.imgdiv2 {
	display: block;
    overflow: hidden;
    padding-bottom: 100%;
}
.inphoto {
	background-color: #efefef;
    display: block;
    width: 100%;
	display: block;
    overflow: hidden;
    padding-bottom: 100%;
}

.uploadPhotoImg {
	height: 100%;
	width: 100%;
	left: 0;
    position: absolute;
    top: 0;
    user-select: none;
}






/* content모음 : 게시글 들어가는 곳 css */


.nonePost {
	text-align: center;
	width: 100%;
	margin: 80px;
}

.upload-item {
	right: 0;
	margin: 0 0 30px;
}
.upload-item .upload-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer;
}
.upload-item .upload-link .upload-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
	opacity: 0;
	background: rgba(254, 209, 54, 0.9);
}
.upload-item .upload-link .upload-hover:hover {
	opacity: 1;
}
.upload-item .upload-link .upload-hover {
	font-size: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
}



/* 이미지 가운데 확대 하기위해 */
.img-thumnail {
	width: 100%;
	height: auto;
	padding: .25rem;
    background-color: #fff;
    border-radius: .25rem;
    max-width: 100%;
}

.thumbnail-wrappper { 
	width: 25%; 
} 
.thumbnail { 
	position: relative; 
	padding-top: 100%; 
	/* 1:1 ratio */ 
	overflow: hidden; 
} 
.thumbnail .centered { 
	position: absolute; 
	top: 0; left: 0; right: 0; bottom: 0; 
	-webkit-transform: translate(50%,50%); 
	-ms-transform: translate(50%,50%); 
	transform: translate(50%,50%); 
} 
.thumbnail .centered img { 
	position: absolute; 
	top: 0; left: 0; 
	max-width: 100%; 
	height: auto; 
	-webkit-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}



.hover-content {
	/*가운데 정렬 세가지*/
	display: flex;
	justify-content: center;
	align-items: center;
	
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	height: 100%;
	width: 100%;
}

.hover-content-detail {
	display: inline-flex;
	flex-direction: row-reverse;
	margin-right: 30px;
}

.hover-icon {
	background-repeat: no-repeat;
	background-position: -320px;
	height: 19px;
	width: 19px;
	margin-right: 7px;
}








.setBtn {
	background-repeat: no-repeat;
	background-position: -260px -350px;
	height: 24px;
	width: 24px;
	background-image: url("../../img/icon-img.png");
}